@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: 	#212429;
    font-family: "Montserrat", sans-serif;
    
}
/* ===============================navbar========================= */
.nav{
    width: 100%;
    position:fixed;
    top: 0px;
    z-index: 100;
}
.button-common{
    font-size: 16px;
    background-color: #373a3d;
    color: #a9afb8;
}
/* =========================navbar end====================================== */
/* ========================Hero Setion====================================== */

.heroSec{
    margin-top: 75px;
}
.heroSec h5{
    color: #c8cbd1;
    font-size: 16px;
    margin-bottom: 15px;
}
.heroSec h1{
    margin-bottom: 10px;
    color: #a9afb8;
    margin-left: 25px;
    line-height: 2.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    margin-bottom: 40px;
}
.heroSec span{
    padding-bottom: 2px;
    border-bottom: 2px solid #a9afb8;
}
.heroSec a{ 
    text-decoration: none;
    color: #c8cbd1;
}
/* ========================Hero Setion end====================================== */
/* ========================About Setion====================================== */

.about{
    padding: 125px 25px;
}
.about h1{
    color:#a9afb8;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
.line{
    width: 85%;
    height: 4px;
    background-color: #a9afb8;
    border-radius: 2px;
    margin-left: 50px;
    margin-top: 20px;
}

.about-p{
    padding-left: 12rem;
    color: #c8cbd1;
}

.about-div h2{
    color: #c8cbd1;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: -4px;
}
.about-div span{
    color: #a9afb8;
    font-size: 12px;
    border-bottom: 2px solid;
    border-radius: 1px;
}
/* ========================About Setion end====================================== */
/* ========================Work Setion====================================== */

.work{
    padding: 25px 25px;
}
.work h1{
    color:#a9afb8;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
.work-p{
    padding-left: 12rem;
    color: #c8cbd1;
    margin: 25px 0 50px;
}
.card{
    margin-top: 150px;
    background-color: #343b42;
}
.card-title{
    color: #c8cbd1;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.card span{
    color:#a9afb8;
    font-family: "Montserrat", sans-serif;
    margin:5px ;

}
.button-common a{
    font-size: 16px;
    text-decoration: none;
    color: #a9afb8;
}
/* ========================Work Setion end====================================== */
/* ========================Skills Setion====================================== */

.skill{
    padding-top: 125px;
}
.skill h1{
    color:#a9afb8;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
   
}
.skill h2{
    color:#a9afb8;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
.skill p{
    color:#a9afb8;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
}
.skill li{
    margin-left: 40%;
    color:#a9afb8;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
/* ========================Skills Setion end====================================== */
/* ========================Contact Setion====================================== */

.contact{
    padding-top: 125px;
}
.contact h1{
    color:#a9afb8;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
.contact-p{
    padding-left: 12rem;
    margin: 50px 2.5rem 100px 7rem;
    font-size: 16px;
    color: #c8cbd1;

}
/*  */
.form-div{
    width: 50%;
    margin-left: 26%;
    padding-bottom: 100px;
}
.form-div h6{
    font-family: "Montserrat", sans-serif;
    color: #a9afb8;
    font-size: 12px;
}
.form-div input{
    width: 100%;
    background-color: #212429;
    font-family: "Montserrat", sans-serif;
    border: none;
    color: #a9afb8;
    border-bottom: 2px solid #a9afb8;
    margin-bottom: 50px;
    outline: none;

}
.message{
    height:100px;
    width:100%;
    background-color: #212429;
    font-family: "Montserrat", sans-serif;
    border: none;
    color: #a9afb8;
    border-bottom: 2px solid #a9afb8;
    outline: none;
    margin-bottom: 50px;
}
.formButton{
   background-color: #212429;
   border: none;
   color: #a9afb8;
   font-family: "Poppins", sans-serif;
    border-bottom: 2px solid #c8cbd1;
}


@media screen and (max-width: 431px) {
    .heroSec{
        margin-top: 50px;
    }
    .about-p,
    .work-p,
     .contact-p {
        padding-left: 4.5rem;
        margin-left: 0;
        margin-right: 0;
    }
  }